* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    top:0;
    
  }
  
  nav ul {
    list-style: none;
    margin: 0;
 
  }
  
  nav li {
    display: inline-block;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  main {
    background-color: gainsboro;
    width: 100%;
    margin-top: 82px;
    padding: 24px;
  }
  
  footer {
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
  }
  
  img.banner {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 1200px;
  }
  
  .whatsapp{
    width: 50px;
  }
  
  button{
      position: fixed;
      right: 0; 
      bottom: 0;
      z-index: 2;
      border: none;
      background-color: transparent;
  }

  .container1{
    
    display:flex;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-height: 100% ;
    margin-top:82px;
    min-height: calc(100vh - 144px);
    }

    .texto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px solid violet;
      border-radius: 10px;
      padding: 10px;
      margin-top: 85px;

    }

@media(min-width:500px){
  .texto{
    margin-top: 40px;
  }
}
    .card{
      display: flex;
      max-width: 300px;
      height: 200px;
      }
      
    .receitas{
        max-width: 100%;
    }

